#root {
  background-color: #eaf4ea;
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
/* #c5d893ff */
/* bcd5b0 */


#root {
    /* a gentle, multi-stop green gradient */
    /* background: linear-gradient(
       160deg,
      #f7fcf5 0%,
      #e3f9e5 35%, 
      #c1eec2 70%,
      #8ecda2 100%
    );*/
}

#root {
  /* background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%); */
  /* background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%); */
  background: #A1FFCE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(225deg, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}